* {
  box-sizing: border-box;
}
body {
  background-color: rgb(223, 223, 223);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.quiz-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.quiz-container {
  background-color: #ffff;
  min-width: 25rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.quiz-hearder {
  padding: 2rem;
}
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  cursor: pointer;
  margin: 0 1rem;
}
button {
  width: 100%;
  border: none;
  background-color: blueviolet;
  color: #ffff;
  padding: 1.5rem;
  cursor: pointer;
}
button:hover {
  background-color: rgb(114, 15, 207);
}
.end-tile {
  padding: 10px 30px;
}
